<% if (typeof ShowMemes === "boolean") { %>
    <p>Actions:</p>
    <% Actions.forEach(element => { %>
        - <%= element[0] %> <br>
    <% }) %>
    <p>Replies:</p>
    <% Replies.forEach(element => { %>
        - <%= element[0] %> <br>
    <% }) %>
<% } %>
